html, body {
	height: 100%;
	overflow: auto;
}

h2 {
	color: #c8aa6e;
	font-family: "Beaufort for LOL", serif;
	font-size: 70px;
	text-transform: uppercase;
}

h3{
	color: #f0e6d2;
	font-family: "Beaufort for LOL", serif;
	font-size: 40px;
	font-weight: 500;
	text-transform: uppercase;
}

/*Primeiro conteúdo*/

.pt1 {
	width: 100%;
	position: relative;
	max-height: 95vh;
	min-height: 450px;

}

.pt1 #hero-video {
	position: fixed;
	display: block;
	width: 100%;
}

.pt1 .siteBr {
	position: absolute;
	right: 2%;
	top: 2%;
	text-transform: uppercase;
	color: #f0e6d2;
	z-index: 10;
	font-size: 16px;
}

.pt1 .img-logo {
	background: url(imagens/logo3.png) no-repeat;
	background-size: contain;
	color: transparent;
	display: block;
	margin: 45px auto 80px;
	height: 163px;
	width: 441px;

}

.pt1 span.siteBr {
	float: right;
}
.pt1 h2 {
	margin-bottom: .3em;
	text-shadow: 2px 2px 6px rgba(0,0,0,.4);
}
.pt1 .entre-liga {
	margin-top: 75px;
}
.pt1 h2, .pt1 h3 {
	text-align: center;
}

.pt1 button {
	background: #1e2328;
	border: 3px solid rgba(192,252,253,.7);
	border-image: linear-gradient(to bottom,#08abac 0,#01698b 100%);
	border-image-slice: 1;	
	color: #f0e6d2;
	display: block;
	font-family: "Beaufort for LOL";
	font-size: 18px;
	margin: 0 auto;
	text-transform: uppercase;
	padding: 13px 35px 12px;

}